@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Quicksand:wght@300..700&display=swap');

body {
    max-width: 1000px;
    margin: 50px auto;
    background-color: blanchedalmond;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand", sans-serif;
}

.column {
    columns: 2 200px;
    column-rule: 3px double black;
    column-gap: 50px;
}

.column p:first-of-type {
    margin-top: 0;
}

.column p:last-child {
    margin-bottom: 0;
}

.column h1 {
    padding: 30px;
    column-span: all;
    text-align: center;
    font-family: "Homemade Apple", cursive;
}

iframe {
    max-width: 100%;
}